---

import Wrapper from '../layouts/Wrapper.astro';
import Navigation from '../components/HeaderNav.astro';

import {homepageCourses} from '../courses.js';

---

<Wrapper>
	<header class="hp-header">
		<Navigation></Navigation>

		<div class="wrapper">
        	<div class="header__content">
				<h1>
					Vzdělávání přímo na koleji<br>
					<span class="light">programování</span><br>
					<span class="light">doplňkové kurzy</span>
				</h1>

				<p>Nauč se programovat, pracovat v profesionálních nástrojích, nebo doplň své vzdelání o praktické skušenosti přímo v pohodlí Strahova</p>

				<a href="#kurzy" class="btn btn--primary btn--l">Otevřené kurzy</a>
        	</div>
    	</div>
    </header>

    <section id="kurzy" class="light courses hp text--center">
        <div class="wrapper">
            <h2 class="mb--m">Kurzy otevřené pro letní semestr 2021 / 2022</h2>
            <div class="courses-list hp">

                {
                    homepageCourses.map((course) => (
                        <a class="course__item" href={course.url}>
                            <div class="course__img">
                                <img src={`/img/${course.img}`} alt={course.name}>
                                {
                                    course.type !== null && (
                                        <div class="course__type">
                                            <span>{course.type}</span>
                                        </div>
                                    )
                                }
                            </div>

                            <div class="course__location">
                                <div class="course__top-left">
                                    <i class="fad fa-calendar-alt"></i>
                                    <p class="course__date">{course.start}</p>
                                </div>

                                <div class="course__top-right">
                                    <i class="fad fa-map-marker-alt"></i>
                                    <p class="course__city">{course.place}</p>
                                </div>
                            </div>

                            <div class="course__name">
                                <h3>{course.name}</h3>
                            </div>

                            <div class="course__desc">
                                <p>{course.desc}</p>
                            </div>

                            <div class="course__more">
                                <span>Prejsť na podujatie</span>
                                <img src="https://eduveo.e-zone.sk/img/conference/long-arrow-right.svg" alt="">
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>
    </section>

    <section class="hp-featured img">
        <img src="/assets/priscilla-du-preez-XkKCui44iM0-unsplash.jpg" class="img--bg" alt="">

        <div class="wrapper">
            <div class="featured__container">
                <div class="featured__icons">

                    <div class="icons__item">
                        <div class="icons__icon">
                            <img src="/assets/icons/home-svgrepo-com.svg" alt="">
                        </div>

                        <div class="icons__content">Z pohodlí oblíbeného #stadion-domov</div>
                    </div>

                    <div class="icons__item">
                        <div class="icons__icon">
                            <img src="/assets/icons/clock-svgrepo-com.svg" alt="">
                        </div>

                        <div class="icons__content">Časovo nekolidující s výukou</div>
                    </div>


                    <div class="icons__item">
                        <div class="icons__icon">
                            <img src="/assets/icons/user-svgrepo-com.svg" alt="">
                        </div>

                        <div class="icons__content">Se skušenými lektormi</div>
                    </div>
                </div>

                <div class="featured__content">
                    <h2>Vzďelávání v klubu SiliconHill</h2>
                    <p></p>

                    <div class="featured__content__icon">
                        <img src="/assets/icons/leadership-svgrepo-com.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


	<section class="white hp-about">

        <div class="wrapper">

            <h3>Skúsenosti našich lektorov hovoria za všetko</h3>

            <div class="about__featured">

                <div class="about__featured-item">
                    <h3>20</h3>
                    <p>Úspešných konferencií a seminárov</p>
                </div>

                <div class="about__featured-item">
                    <h3>2500</h3>
                    <p>spokojných účastníkov</p>
                </div>

                <div class="about__featured-item">
                    <h3>12</h3>
                    <p>stálych<br>lektorov</p>
                </div>

                <div class="about__featured-item">
                    <h3>9</h3>
                    <p>kreatívnych konceptov </p>
                </div>

            </div>

        </div>

    </section>

    <section class="white reviews">
        <div class="wrapper">

            <h2>Povedali o nás</h2>

            <div class="reviews-list owl-carousel owl-theme">

                <div class="reviews__item">
                    <p class="reviews__text">V rámci Košického samosprávneho kraja boli realizované viaceré školenia pre
                        organizácie v našej zriaďovateľskej pôsobnosti. Školenia hodnotíme vysoko pozitívne a to
                        predovšetkým za odbornosť a profesionálny prístup.</p>

                    <h3 class="reviews__author">Ing. Marcel Kyseľ, Košický samosprávny kraj</h3>
                </div>

                <div class="reviews__item">
                    <p class="reviews__text">Školenie v oblasti verejného obstarávania vykonané vašou spoločnosťou bolo
                        pre našu organizáciu veľkým prínosom a obohatením. S obsahom aj organizáciou školenia sme boli
                        veľmi spokojní a získané poznatky už aj viem zužitkovávať v praxi. Lektor bol človek na správnom
                        mieste, veľmi dobre mal zvládnuté poznatky z praxe, odbornú prípravu a aj prezentačné
                        schopnosti.</p>

                    <h3 class="reviews__author">JUDr. Mária Beňová, Mesto Topoľčany</h3>
                </div>

                <div class="reviews__item">
                    <p class="reviews__text">Vysoko hodnotíme prístup školiteľa JUDr. Petra Kuboviča, jeho zrozumiteľný
                        výklad podstatných častí zákona o verejnom obstarávaní, ukážku praktických príkladov
                        obstarávania zákaziek a jeho skúsenosti zo samosprávy.</p>

                    <h3 class="reviews__author">Ing. Eva Granátová, Mesto Dubnica nad Váhom</h3>
                </div>


            </div>

        </div>


    </section>
</Wrapper>

